* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #def3da;
  color: #030000;
  font-family: Helvetica, sans-serif;
  min-height: 100vh;
}

.Card .link {
  position: absolute;
  bottom: 20px;
  width: 250px;
  height: 40px;
  line-height: 45px;
  text-align: center;
}
a {
  text-decoration: none;
}

.Contenedor button {
  width: 150px;
  height: 50px;
  background-color: #75ca7c;
  border-radius: 10px;
  font-weight: bold;
  font-family: Helvetica;
}

.Card button:hover {
  background-color: #077840;
}

.Contenedor {
  width: 70%;
  max-width: 1200px;
  margin: auto;
  padding: 40px 0;
  display: flex;
  gap: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.ContenedorRecursosrenovables {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 20px;
}

.Card {
  border-radius: 10px;
  min-height: 280px;
  font-weight: bold;
  padding: 30px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.4s;
  transition: background-color 0.5s;
}

.Card:hover {
  box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.7);
}

.banner {
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-image: url(../Imagenes/banner_home.jpg);
}
.banner:hover {
  box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.7);
}
.banner .logoBanner {
  height: 130px;
  width: auto;
}

.banner button {
  width: auto;
  position: relative;
  padding: 0px 0px;
  border-radius: 10px;
  outline: none;
  height: 50px;
  background-color: #75ca7c;
  font-family: Helvetica;
}
.banner button:hover {
  background-color: #077840;
}
.banner .bienvenidos {
  background-color: white;
  font-family: Helvetica;
}

.link button a {
  padding: 5px;
}
