* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background: #197e05;
  color: #030000;
  font-family: Helvetica, sans-serif;
  min-height: 100vh;
}



.Contenedor{
  width: 78%;
  max-width: 12000px;
  margin: auto;
  padding: 40px 0;
  display: flex;
  gap: 25px;

  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 40px;
  
}


.ContenedorRecursosrenovables{
  
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 20px;
}

.Card {
  border-radius: 10px;
  min-height: 280px;
  font-weight: bold;
  padding: 20px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}

.Card .Textos{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}