* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  margin: left;
  width: 200px;
  font-family: Helvetica;
}

ul,
ol {
  list-style: none;
}

.nav li a {
  background-color: #077840;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  /* z-index: 10; */
}

.nav li a:hover {
  background-color: #72b66b;
}

.nav > li {
  float: left;
}

.nav li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}

.nav li:hover > ul {
  display: block;
}

.nav li ul li ul {
  position: absolute;
}

.rectangulo {
  width: 100vw;
  height: 50px;
  margin: left;
  background: linear-gradient(#72b66b, #077840);
}

.texto {
  display: block;
  margin: 10px;
  font-size: 20px;
  font-weight: helvetica;
  color: white;
  text-align: center;
  letter-spacing: 10px;
}

.texto2 {
  display: block;
  margin: 10px;
  font-size: 20px;
  font-weight: helvetica;
  color: white;
  text-align: center;
  letter-spacing: 10px;
}

.titulo {
  display: block;
  font-size: 50px;
  font-weight: helvetica;
  color: white;
  text-align: center;
  letter-spacing: 5px;
}

.contacto {
  display: block;
  font-size: 17px;
  font-weight: helvetica;
  color: white;
  text-align: center;
  letter-spacing: 5px;
  padding: 15px;
}

.nombre {
  display: block;
  font-size: 17px;
  font-weight: helvetica;
  color: white;
  text-align: left;
  letter-spacing: 1px;
}

.card {
  width: 230px;
  border-radius: 20px;
  background: #72b66b;
  padding: 20px;
  overflow: hidden;
  background: linear-gradient(#72b66b, #077840);
  box-shadow: (100, 100, 111, 0.2) 0px 4px 20px 0px;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* z-index: 0; */
  margin-top: 45px;
  place-self: center;

}

.card:hover {
  transform: scale(1.05); /*para agrandar la tarjeta al seleccionar*/
}

/* primera tarjeta  */

.card .top-section1 {
  height: 150px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-image: url(../fotospromociones/EnergiaRenovable.jpg);
  background-size: 300px 200px;
  position: center;
}

.card .bottom-section1 {
  margin-top: 15px; /*margen de la card */
  padding: 10px 10px;
}

.card .bottom-section1 .title {
  display: block;
  color: white;
  /* z-index: 1; */
}

.card .bottom-section1 .row {
  display: flex; /*cambia tamaño de la tarjeta */
  margin-top: 15px;
}

.card .bottom-section1 .item {
  flex: 50%;
  padding: 10px;
}

/*segunda tarjeta*/

.card .top-section2 {
  height: 150px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-image: url(../fotospromociones/verduras.jpg);
  background-size: 300px 200px;
  position: center;
}

.card .bottom-section2 {
  margin-top: 15px; /*margen de la card */
  padding: 10px 10px;
}

.card .bottom-section2 .title {
  display: block;
  color: white;
}

.card .bottom-section2 .row {
  display: flex; /*cambia tamaño de la tarjeta */
  margin-top: 15px;
}

.card .bottom-section2 .item {
  flex: 50%;
  padding: 10px;
}

/*tercera tarjeta*/

.card .top-section3 {
  height: 150px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-image: url(../fotospromociones/reciclaje.jpg);
  background-size: 300px 200px;
  position: center;
}

.card .bottom-section3 {
  margin-top: 15px; /*margen de la card */
  padding: 10px 10px;
}

.card .bottom-section3 .title {
  display: block;
  color: white;
}

.card .bottom-section3 .row {
  display: flex; /*cambia tamaño de la tarjeta */
  margin-top: 15px;
}

.card .bottom-section3 .item {
  flex: 50%;
  padding: 10px;
}

/*cuarta tarjeta*/

.card .top-section4 {
  height: 150px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-image: url(../fotospromociones/parque.jpg);
  background-size: 300px 200px;
  position: center;
}

.card .bottom-section4 {
  margin-top: 15px; /*margen de la card */
  padding: 10px 10px;
}

.card .bottom-section4 .title {
  display: block;
  color: white;
}

.card .bottom-section4 .row {
  display: flex; /*cambia tamaño de la tarjeta */
  margin-top: 15px;
}

.card .bottom-section4 .item {
  flex: 50%;
  padding: 10px;
}

/* quinta tarjeta*/

.card .top-section5 {
  height: 150px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-image: url(../fotospromociones/bombillo.jpg);
  background-size: 300px 200px;
  position: center;
}

.card .bottom-section5 {
  margin-top: 15px; /*margen de la card */
  padding: 10px 10px;
}

.card .bottom-section5 .title {
  display: block;
  color: white;
}

.card .bottom-section5 .row {
  display: flex; /*cambia tamaño de la tarjeta */
  margin-top: 15px;
}

.card .bottom-section5 .item {
  flex: 50%;
  padding: 10px;
}

/* sexta tarjeta*/

.card .top-section6 {
  height: 150px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-image: url(../fotospromociones/senderismo.jpg);
  background-size: 300px 200px;
  position: center;
}

.card .bottom-section6 {
  margin-top: 15px; /*margen de la card */
  padding: 10px 10px;
}

.card .bottom-section6 .title {
  display: block;
  color: white;
}

.card .bottom-section6 .row {
  display: flex; /*cambia tamaño de la tarjeta */
  margin-top: 15px;
}

.card .bottom-section6 .item {
  flex: 50%;
  padding: 10px;
}

/* septima tarjeta  */

.precio1 {
  display: block;
  font-size: 20px;
  font-weight: helvetica;
  color: red;
  text-align: left;
  letter-spacing: 5px;
}

.precio2 {
  display: block;
  font-size: 20px;
  font-weight: helvetica;
  color: white;
  text-align: left;
  letter-spacing: 5px;
}

.card .top-section7 {
  height: 150px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-image: url(../fotospromociones/Panel\ Solar.webp);
  background-size: 250px 150px;
  background-repeat: no-repeat;
  position: center;
}

.card .bottom-section7 {
  margin-top: 15px; /*margen de la card */
  padding: 10px 10px;
}

.card .bottom-section7 .title {
  display: block;
  color: white;
}

.card .bottom-section7 .row {
  display: flex; /*cambia tamaño de la tarjeta */
  margin-top: 15px;
}

.card .bottom-section7 .item {
  flex: 50%;
  padding: 10px;
}

/*octava tarjeta*/

.precio3 {
  display: block;
  font-size: 20px;
  font-weight: helvetica;
  color: red;
  text-align: left;
  letter-spacing: 5px;
}

.precio4 {
  display: block;
  font-size: 20px;
  font-weight: helvetica;
  color: white;
  text-align: left;
  letter-spacing: 5px;
}

.card .top-section8 {
  height: 150px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-image: url(../fotospromociones/semillas.webp);
  background-size: 200px 150px;
  position: center;
}

.card .bottom-section8 {
  margin-top: 15px; /*margen de la card */
  padding: 10px 10px;
}

.card .bottom-section8 .title {
  display: block;
  color: white;
}

.card .bottom-section8 .row {
  display: flex; /*cambia tamaño de la tarjeta */
  margin-top: 15px;
}

.card .bottom-section8 .item {
  flex: 50%;
  padding: 10px;
}

/*novena tarjeta*/

.precio5 {
  display: block;
  font-size: 20px;
  font-weight: helvetica;
  color: red;
  text-align: left;
  letter-spacing: 5px;
}

.precio6 {
  display: block;
  font-size: 20px;
  font-weight: helvetica;
  color: white;
  text-align: left;
  letter-spacing: 5px;
}

.card .top-section9 {
  height: 150px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-image: url(../fotospromociones/estibas.png);
  background-size: 250px 150px;
  position: center;
}

.card .bottom-section9 {
  margin-top: 15px; /*margen de la card */
  padding: 10px 10px;
}

.card .bottom-section9 .title {
  display: block;
  color: white;
}

.card .bottom-section9 .row {
  display: flex; /*cambia tamaño de la tarjeta */
  margin-top: 15px;
}

.card .bottom-section9 .item {
  flex: 50%;
  padding: 10px;
}

/* general*/
.item .svg :hover {
  fill: white;
  transform: scale(0.9);
}

.card .border {
  border-bottom-right-radius: 10px;
  height: 30px;
  width: 130px;
  background: #72b66b;
  position: absolute;
  transform: skew(-40deg);
  box-shadow: -10px -10px 0 0 #077840;
}

.card .cabezera .logo {
  height: 100%; /* margen de logo */
  display: block;
  padding: 10px 10px 10px 10px;
  position: relative;
}

.card .logo .cabezera .logo .top-section {
  height: 100%;
}

.card .logo .cabezera .nombre {
  height: 100%; /*nombres*/
  padding: 1px 1px;
  display: block;
  gap: 5px;
}

.container_targets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  background-image: url("../fotospromociones/arboles-e1569184563522.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* z-index: 2; */
}
